@charset "utf-8";

body{
    padding-top: 50px
}
.sidebar{
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.form-horizontal .form-group {
    margin-bottom: 0;
}

.table-ellipsis {
    table-layout: fixed;
}

.table-ellipsis td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}